@import "./grid.scss";
@import "./sizing.scss";
@import "./flex.scss";
@import "./position.scss";
@import "./padding.scss";
@import "./container.scss";
@import "./stack.scss";
@import "./margin.scss";

.everything {
  @extend .justify-items-center;
  @extend .grid-page;

  height: 100dvh;
}

.overall-max-width {
  max-width: var(--overall-max-width);
}


.content,
header,
footer {
  @include padding-inline($p: 1rem);
  @extend .w-full;
  
}

.content {

  @extend .grid;
  @extend .align-items-center;
  @extend .justify-items-center;
  @extend .stack-large;


}


.page-heading {
  @extend .text-align-center;
  font-weight: var(--bold);
  
}