@import "./sizing.scss";
@import "./flex.scss";
@import "./position.scss";
@import "./padding.scss";
@import "./container.scss";
@import "./stack.scss";
@import "./margin.scss";

.grid {
  display: grid;
}

.justify-items-center {
  justify-items: center;
}

.justify-self-center {
  justify-self: center;
}

.grid-btn__back {
  grid-template-columns: auto auto;
}

.grid-page {
  @extend .grid;
  grid-template-rows:
    auto 1fr auto;
}

.content-large-screen {
  @media (min-width: 950px) {
    grid-template-columns: 1fr 1fr;
    @include gap($g: 2rem);
  }
}

.dashboard__heading {

  @extend .w-full;
  @extend .overall-max-width;
  @extend .grid;

  grid-template-columns: 1fr auto;
}

.justify-self-start {
  justify-self: baseline;
}

.grid-lg {
  @media (min-width: 950px) {
    grid-template-columns: 1fr 1fr;
    row-gap: 0.75rem;
    column-gap: 1.125rem;
  }
}

.grid-news {
  row-gap: 2.5rem;

  li {
    min-width: 100%;

    .post-image {
      display: flex;

      max-height: 220px;

      border-radius: 22px;

      overflow: hidden;
    }
  }

  @media (min-width: 950px) {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 2rem;
    column-gap: 1.125rem;
  }
}

.grid-col-2 {
  @media (min-width: 750px) {
    grid-column: 2;
  }
}