.grid {
    display: grid;
  }
  .justify-items-center {
    justify-items: center;
  }
  .justify-self-center {
    justify-self: center;
  }

  .grid-page {
    @extend .grid;
    grid-template-rows: auto
                        1fr
                        auto;
  }